<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Balbino Aylagas | Front-End Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/esen-icon.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/perfil.jpeg" alt="Jason Maravilla" class="perfil nav-link" />
              <span class="caption nav-link">Jason Maravilla</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#acerca" class="nav-link">Acerca</a>
          </li>
          <li class="nav-item">
            <a href="#estudios" class="nav-link">Estudios</a>
          </li>
          <li class="nav-item">
            <a href="#voluntariados" class="nav-link">Voluntariados y Horas Sociales</a>
          </li>
          <li class="nav-item">
            <a href="#contactos" class="nav-link">Contactos</a>
          </li>
          <li class="nav-item">
            <a href="#reconocimientos" class="nav-link">Reconocimientos</a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/jason.maravilla.98" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/jasonmaravilla16/" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/Cry_jasonm16" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Contactame</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>  Jason Maravilla</h2>
          <h3>{Estudiante}</h3>
          <p>Html . CSS . JavaScript . R . Python</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contactos" class="btn">Contactame</a>
            </div>
            <div class="cta">
              <a href="#acerca" class="btn">Acerca de mi</a>
            </div>
          </div>
          <div>
            <a href="#acerca" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="acerca" class="acerca">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/perfil.jpeg" alt="Jason Maravilla" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hola 👋🏽</h2>
          <p>
            Mi nombre es Jason Stanley Maravilla estudiante de tercer año de la carrera de 
            Ingeniería de Negocios de la Escuela Superior de Economía y Negocios (ESEN).

          </p>
          <p>
            Persona con liderazgo, capacidad de trabajar en equipo y habilidad analítica. Responsable,
            amigable, solidario y con la mentalidad de aprender constantemente. Busco poder contribuir
            positivamente a los demás y seguir creciendo en el ámbito laboral.

          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="estudios" class="estudios">
      <div class="container">
        <div class="title-heading">
          <h2>Estudios</h2>
          <p>
            Lugares de preparación media y superior cursados
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
              <img src="/static/images/esen.png" alt="ESEN" class="estudios-pic" />
            <h2>Escuela Superior de Economía y Negocios</h2>
            <p>
              Educación Superior 2019-Actualidad
            </p>
          </div>
          <div class="tier-item">
            <img src="/static/images/citala.jpg" alt="Citala" class="estudios-pic" />
            <h2>Colegio Citalá</h2>
            <p>
              Educación media 2017-2018
            </p>
          </div>

          <div class="tier-item">
              <img src="/static/images/JT.png" alt="JT" class="estudios-pic" />
              <h2>Jovenes Talento</h2>
              <p>
                Biología y Matemática 2017 
              </p>
              </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="voluntariados" class="voluntariados">
      <div class="title-heading">
        <h2>Voluntariados y Horas Sociales</h2>
        <p>Voluntariados hechos hasta la actualidad</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/probecas.png" />
        </div>
        <div class="project-description">
          <h2>Probecas</h2>
          <p>
            Ayudante en la venta de boletos para la carrera Probecas 2019, también, colaboré como
            guía el dia de la carrera.
          </p>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Superate</h2>
          <p>
            Horas Sociales en el progra Superate Poma en el area de archivo y recepción de datos.
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/superate.png" />
        </div>
      </div>

    <section id="reconocimientos" class="reconocimientos">
      <div class="container">
        <div class="title-heading">
          <h2>Reconocimientos</h2>
          <p>
            Reconocimientos logrados a lo largo de mi vida
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
              <img src="/static/images/beca.jpg" alt="Beca ESEN" class="estudios-pic" />
            <h2>Beca a la Excelencia Académica y Oportunidad para Todos</h2>
            <p>
              Otorgada en el año 2019
            </p>
          </div>
          <div class="tier-item">
            <img src="/static/images/fantel1.jpg" alt="Citala" class="estudios-pic" />
            <h2>Beca FANTEL</h2>
            <p>
              Otorgada en el año 2019
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="contactos" class="contactos">
      <h2>Contactame</h2>
      <p>
      Puedes contactarme a través de las diferentes plataformas
      </p>
      <p>
      </p>
      <div class="container">
        <p>
          <a href="stanley.maravilla15@gmail.com"><i class="fas fa-envelope-open"></i> stanley.martinez15@gmail.com</a>
        </p>  
        <p>
          <a href="https://www.facebook.com/jason.maravilla.98" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
        <p>
          <a href="https://www.instagram.com/jasonmaravilla16/" target="_blank"><i class="fab fa-instagram"> Instagram</i></a>
        </p>
        <p>
          <a href="https://twitter.com/Cry_jasonm16" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#acerca" class="footer-nav-link">Acerca</a>
        <a href="#estudios" class="footer-nav-link">Estudios</a>
        <a href="voluntariados" class="footer-nav-link">Voluntariados y Horas Sociales</a>
        <a href="#contactos" class="footer-nav-link">Contactos</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> Con 💙 por Jason Maravilla; 2021
        </p>
        <p>Preparandome y creciendo por un mejor futuro</p>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/jason.maravilla.98" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/jasonmaravilla16/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Cry_jasonm16" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>